SOAPClient/xml-resources/web-service-references/Users/wsdl/localhost_1516/WS/Users.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://soap.rosamarfil.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.rosamarfil.es/">

<xs:element name="addUser" type="tns:addUser"></xs:element>

<xs:element name="addUserResponse" type="tns:addUserResponse"></xs:element>

<xs:element name="getUsers" type="tns:getUsers"></xs:element>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"></xs:element>

<xs:complexType name="getUsers">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>